<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <connectionStrings>

    <add name="StrCon" connectionString="Server=192.168.4.4;Database=FinaTech_Test;User ID=sa;Password=ANCFCC@2016" providerName="System.Data.SqlClient"/>
    <add name="StrConCX" connectionString="Server=192.168.4.4;Database=Administration_ANCFCC;User ID=sa;Password=ANCFCC@2016" providerName="System.Data.SqlClient"/>


  </connectionStrings>
</configuration>
